@model IEnumerable<Cumulative1.Models.Teacher>


@{
    ViewBag.Title = "List";
}

<h2>List all teachers</h2>

<form action="/Teachers/List" method="get">
    <input type="text" name="SearchKey" />
    <input type="submit" value="Search" />
</form>

<p>There are @Model.Count() teachers in the database system.</p>

<a href="/Teachers/New" style="color:darkgreen"> Add New Teacher</a>

@foreach (var Teacher in Model)
{
    <h3><a href="/Teachers/Show/@Teacher.TeacherId">@Teacher.TeacherFName @Teacher.TeacherLName</a></h3>
}