
@{
    ViewBag.Title = "New";
}

<h2>New Teacher</h2>
<!--TODO: Route form submission to server-->
<form method="POST" action="/Teachers/Create">
    <div>
        <label>First Name: </label>
        <input type="text" name="TeacherFName" />
    </div>
    <div>
        <label>Last Name: </label>
        <input type="text" name="TeacherLName" />
    </div>
    <div>
        <label>Employee Number: </label>
        <input type="text" name="EmployeeNumber" />
    </div>
    <div>
        <label>Hire Date: </label>
        <input type="date" name="HireDate" />
    </div>
    <div>
        <label>Salary: </label>
        <input type="text" name="Salary" />
    </div>
    <div>
        <input type="submit" value="Create New Teacher Record" />
    </div>
</form>

<a href="/Teachers/List">Back to List of Teacher Records</a>